/* Compress class */

/* Customize as you plase ! */

/* Required */

.compress-table>thead{
  display: none;
}

.compress-table td::before{
  content: attr(data-header)' ';  
}

/* you might want change the display for better compatibility with IE */
.compress-table td{
	display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
	display: -ms-flexbox;  /* TWEENER - IE 10 */
	display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Recommended */

.compress-table{
  width: 100%;
}

.compress-table td:hover{
  /*background-color: white; */ /* You can change this */
}

.responsive-table th,td{
  /* white-space: nowrap; */ /* use this if you don't want split lines */
}